h1 
{
    color: rgb(25, 26, 90);
    font-size: 60px;
    font-family: 'Russo One', sans-serif;
}

h3 
{
    color: rgb(143, 54, 3);
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Russo One', sans-serif;
}

.nav a
{
    color: rgb(3, 3, 51);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
color: #fff;
background-color: #0d6efd;
}